body, html {
	font-family: 'Verdana', sans-serif;
	margin: 0;
	font-size: 16px;
    color:rgb(238, 169, 66);
    background-color: rgb(146, 26, 26);
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/banner1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 400px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(121, 19, 19);
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(238, 169, 66);
	text-align: center;
	padding: 15px 17px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(82, 4, 4);
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
    color:rgb(214, 151, 55);
    
}
h2 {
	font-size: 1.5em;
    color:rgb(247, 149, 2);
}
main a {
    color:rgb(247, 149, 2);
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted rgb(238, 169, 66);
	clear: both;
}
.sav img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.sav h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: rgb(238, 169, 66);
}
.sav hr {
	margin: 1em;
	border: 1px dotted rgb(238, 169, 66);
	clear: both;
}
.sav time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#velike figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid rgb(238, 169, 66);
}
#velike figcaption {
	font-size: 90%;
	text-align: center;
}
#galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid rgb(238, 169, 66)k;
}
#galerija figcaption {
	font-size: 90%;
	height: 30px;
	text-align: center;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid rgb(214, 151, 55);
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}
#kontakt {
	margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Verdana', sans-serif;
	font-size: 95%;
}
input[type=pošalji] {
    display: block;
	background-color: rgb(82, 4, 4);
    color: rgb(214, 151, 55);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}
input[type=pošalji]:hover {
    background-color: rgb(82, 4, 4)9;
}
footer {
	background-color: rgb(82, 4, 4);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: rgb(214, 151, 55);
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.sav img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.sav time {
		margin: 0 0 0 1em;
	}
	#velike figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#velike figcaption {
		font-size: 90%;
		text-align: center;
	}
	#galerija figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 40%;
		border: 1px solid black;
	}
	#galerija figcaption {
		font-size: 90%;
		height: 70px;
		text-align: center;
	}
}